.app.dark{
  --bg-color: #111160;
  --inverted-bg-color: #bababd;

  --primary-color: #15b015;
  --secondary-color: #5bef5b;
  --inverted-primary-color: #2020a1;
  --inverted-secondary-color: #4d4dd5;
}