.app.light{
  --bg-color: #bababd;
  --inverted-bg-color: #111160;

  --primary-color: #2020a1;
  --secondary-color: #4d4dd5;

  --inverted-primary-color: #46e046;
  --inverted-secondary-color: #5bef5b;
}